@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes scrolling {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scrolling {
    animation: scrolling 50s linear infinite; /* replace 20s with your desired duration */
  }
  